{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form, render_field  %}

{% block content %}

<header class="masthead">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Zmiana hasła</h1>
        </div>
      </div>
    </div>
  </div>
</header>


<section>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
      <h2>Zmień hasło</h2>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p class="flash">{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
      


  <form method="POST" action="{{ url_for('admin_passwordchange', user_id=user.id) }}" class="g-3">
    {% for field in form if field.name not in ['password', 'submit'] %}
    {{ render_field(field, disabled=True ) }}
    {% endfor %}
    {{ render_field(form.password) }}
    {{render_field(form.submit)}}
</form>
    

{% endblock %}
